body{
    background-color:black;
    margin:0px;
}

#GamePanel{
    background-color:black;
    width:100vw;
    height:100vh;
}

#Target{
    background-color:red;
    width:5vh;
    height:5vh;
}

.style::-webkit-scrollbar{
    display:none;
}