body{
    background-color:brown;
    margin:0px;
}

#GamePanel{
    background-color:dimgrey;
    width:100vw;
    height:100vh;
}

#Target{
    background-color:red;
    width:5vh;
    height:5vh;
}